body {
  font-family: Arial, Helvetica, sans-serif;
}
ul {
  line-height: 1.5rem;
  width: 100%;
  max-width: 320px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  background-color: #eee;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
}
li:hover {
  cursor: pointer;
  background-color: #c4e0f3;
}
li:not(.checked):hover {
  background-color: #ddd;
}
#todo-input {
  padding: 0.5rem 1rem;
  margin: 0rem;
  font-size: 1rem;
  border-radius: 4px;
  width: 100%;
  border: none;
  box-sizing: border-box;
  outline: none;
}
#add-todo {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 4px;
  border: none;
  background-color: #eee;
  cursor: pointer;
}
#add-todo:hover {
  background-color: #ddd;
}
#controls {
  display: flex;
  gap: 0.5rem;
  max-width: 320px;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.checked {
  text-decoration: line-through;
  background-color: #3498db33;
}
